{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>

    <nav>
        <ul>
            <li><a href="{% url 'add_genre' %}">Добавить жанр</a></li>
            <li><a href="{% url 'add_movie' %}">Добавить фильм</a></li>
            <li><a href="{% url 'get_movies' %}">Фильмы</a></li>
        </ul>
    </nav>

    {% block content %}{% endblock %}

</body>

</html>
